html, body {
    color: white;
    font-family: "Courier New", Courier, monospace;
  }
  
  .bgimg {
    background-image: url('https://images.unsplash.com/photo-1498190338361-82055e010b39?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2480a8aea9510ab70d66707200f11f90');
    height: 100%;
    background-size: cover;
    font-size: 25px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(53, 53, 53, 0.799);
    width: 30%;
    margin: 40px auto;
    padding-top: 20px;
  }
  
  hr {
    margin: auto;
    width: 50%;
    border-bottom: solid white;
  }